<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314534873641-ccimeq4i60r43f04t5q8j1hjh5t8f6in.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314534873641-ccimeq4i60r43f04t5q8j1hjh5t8f6in</string>
	<key>API_KEY</key>
	<string>AIzaSyB3GezyNy83avEnZcz133RMzkrSrG9H2EA</string>
	<key>GCM_SENDER_ID</key>
	<string>314534873641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.DaviMiranda.FinTrack</string>
	<key>PROJECT_ID</key>
	<string>fintrack-78d9e</string>
	<key>STORAGE_BUCKET</key>
	<string>fintrack-78d9e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314534873641:ios:26a267000947063736ea38</string>
</dict>
</plist>